h2 {
    font-size: 24px;
    margin-bottom: 16px;
    color: #333;
  }
  
  input, textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  button {
    background-color: #f8f8f8;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color:white;
  }
  
  .bg-white {
    background-color: white;
  }
  
  .shadow-md {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .rounded-md {
    border-radius: 8px;
  }
  
  .p-4 {
    padding: 16px;
  }
  
  .mb-4 {
    margin-bottom: 16px;
  }
  
  .flex {
    display: flex;
  }
  
  .items-center {
    align-items: center;
  }
  
  .space-x-1 {
    margin-right: 4px;
  }
  
  .space-x-2 {
    margin-right: 8px;
  }
  
  .text-gray-500 {
    color: #6b7280;
  }
  
  .text-gray-700 {
    color: #374151;
  }
  
  .text-green-500 {
    color: #10b981;
  }
  
  .mt-2 {
    margin-top: 8px;
  }
  
  .mt-4 {
    margin-top: 16px;
  }
  
  .mb-2 {
    margin-bottom: 8px;
  }
  
  .border-gray-300 {
    border-color: #d1d5db;
  }
  
  .rounded-md {
    border-radius: 8px;
  }
  
  .w-full {
    width: 100%;
  }
  
  .pl-4 {
    padding-left: 16px;
  }
  
  .border-l-2 {
    border-left-width: 2px;
  }
  
  .border-gray-200 {
    border-color: #e5e7eb;
  }

  .n1{
    width: 90%;
    align-items: center;
    text-align: center;
    margin-left: 5%;
  }

  .n2{
   width: 15%;
   background-color: rgb(211, 150, 18);
  }

    
  .n2:hover {
    background-color:rgb(151, 127, 237);
  }
  